{{> organisms-header }}
<div class="wrap container" role="document">
	<div class="content row">
        <main class="main" role="main">
        	{{> organisms-page-header }}
			{{# latest-posts }}
				{{> molecules-media-block }}
			{{/ latest-posts }}
		</main>
		{{> organisms-sidebar }}
	</div>
</div>
{{> organisms-footer }}