{{> organisms-header }}
<div class="wrap container" role="document">
	<div class="content row">
        <main class="main" role="main">
        	{{> molecules-entry-title }}
        	{{> molecules-entry-meta }}
        	{{> organisms-single-body }}
        	{{> organisms-comment-thread }}
        </main>
        {{> organisms-sidebar }}
    </div><!-- End Content -->
</div> <!-- End Wrap -->
{{> organisms-footer }}
