{{> organisms-header }}
<div class="wrap container" role="document">
	<div class="content row">
        <main class="main" role="main">
			{{> organisms-page-header }}
			{{> organisms-latest-posts }}
		</main>
		{{> organisms-sidebar }}
    </div><!-- End Content -->
</div> <!-- End Wrap -->
{{> organisms-footer }}