{{> organisms-header }}
<div class="wrap container" role="document">
	<div class="content row">
        <main class="main" role="main">
			{{> molecules-page-header }}
			<!-- Warning Alert Here -->
			{{> molecules-search }}
		</main>
		{{> organisms-sidebar }}
	</div>
</div>
{{> organisms-footer }}