<footer class="content-info" role="contentinfo">
  <div class="container">
    <!-- Footer Schtuff Here -->
    <p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
  </div>
</footer>
