<div id="respond" class="comment-respond">
	<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
	<form id="comment-form" class="comment-form">
		<p class="logged-in-as">Logged in as <a href="">admin</a>. <a href="#">Log out?</a></p>
		<p class="comment-form-comment">
			<label for="comment">Comment</label>
			<textarea id="comment" rows="8" cols="45" name="content"></textarea>
		</p>
		<p class="form-submit">
			<input id="submit" class="submit" type="submit" value="Post Comment" name="submit"></input>
		</p>
	</form>
</div>