// Colors
.sg-primary {
	background-color: $brand-primary;
}
.sg-success {
	background-color: $brand-success;
}
.sg-info {
	background-color: $brand-info;
}
.sg-warning {
	background-color: $brand-warning;
}
.sg-danger {
	background-color: $brand-danger;
}
