<article class="post-class">
  <header>
    <h2 class="entry-title"><a href="{{ url }}">{{ headline.short }}</a></h2>
    {{> organisms-single-entry-meta }}
  </header>
  <div class="entry-summary">
    {{ excerpt.medium }}
  </div>
</article>