<ul class="sg-colors">
	<li>
		<span class="sg-label">Primary</span>
		<span class="sg-swatch sg-primary"></span>
		<span class="sg-label">#337ab7</span>
	</li>
	<li>
		<span class="sg-label">Success</span>
		<span class="sg-swatch sg-success"></span>
		<span class="sg-label">#5cb85c</span>
	</li>
	<li>
		<span class="sg-label">Info</span>
		<span class="sg-swatch sg-info"></span>
		<span class="sg-label">#5bc0de</span>
	</li>
	<li>
		<span class="sg-label">Warning</span>
		<span class="sg-swatch sg-warning"></span>
		<span class="sg-label">#f0ad4e</span>
	</li>
	<li>
		<span class="sg-label">Danger</span>
		<span class="sg-swatch sg-danger"></span>
		<span class="sg-label">#d9534f</span>
	</li>
</ul>