<p class="sg-sans">Sans: "Helvetica Neue", Helvetica, Arial, sans-serif !default</p>
<p class="sg-sans"><em>Sans italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p class="sg-sans"><strong>Sans bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="sg-serif">Serif: Georgia, Times, "Times New Roman", serif;</p>
<p class="sg-serif"><em>Serif italic: Georgia, Times, "Times New Roman", serif;</em></p>
<p class="sg-serif"><strong>Serif bold: Georgia, Times, "Times New Roman", serif;</strong></p>