<p class="hidden-sm">This text is hidden on smaller screens</p>

<p class="visible-sm"><em>This text is only visible on smaller screens</em></p>

<p class="hidden-md">This text is hidden on medium screens only</p>

<p class="visible-md"><em>This text is only visible on medium screens</em></p>

<p class="hidden-lg">This text is hidden on large screens</p>

<p class="visible-lg"><em>This text is only visible on large screens</em></p>